
### Emacs ###
*.*~
*~
[#]*[#]
.\#*
.[#]*


### Application ###
node_modules/**/*
**/*.map
**/.DS_Store

app.js
javascripts/**/*.js
public/stylesheets/**/*.css
public/javascripts/**/*.js
routes/**/*.js
put-haastii
deploy.sh

